body{
    --main-color: #1600db;
    --alt-color: white;
    overflow-x: hidden;

    header{
        width: 100vw;
        display: flex;
        background-color: var(--main-color);
        #mcLogo{
            width: 5vw;
            padding: 3px 0px 3px 10px;
            margin-right: 1vw;
        }
        nav{
            .active{
                color: yellow;
            }
            width: 50vw;
            li{
                list-style: none;
                padding: 10px;
                float: left;
                color: white;

                a{
                    font-size: 2.5vw;
                    text-decoration: none;
                    color: white;
                    
                }
                a:hover{
                    color: yellow;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }

    #content{
        display: flex;
        .sectionRight{
            width: 25vw;
            margin-top: 3vw;
            margin-bottom: 3vw;
        }
        .sectionLeft{
            // padding: 10px;
            margin: 3vw;
            
            width: 65vw;
            // display: flex;
            // align-items: flex-start;
            .titleCell{
                background-color: var(--main-color);
                border-radius: 10px 10px 0px 0px;
                h3{
                    color: white;
                    text-align: left;
                    padding: 20px 5px 5px 10px;
                    font-size: 2vw;
                }
                
            }
            
        }
        .contentCell{ 
                p{
                    padding: 10px;
                    font-size: 1.2vw;
                }
                .big{
                    max-width: 20%;
                    border-radius: 20px;
                }
                img{
                    max-width: 40%;
                }
                .trademarkNotice{
                    font-size: 0.7vw;
                }
                // padding: 15px;
                text-align: center;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);        }
    }

    #contentProjects{
        .projectPanel{
            margin-top: 20px;
            width: 90vw;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


            .active{
                background-color: rgb(65, 204, 65);
                color: white;
                border-radius: 10px 10px 0px 0px;
                padding: 5px 0px 5px 10px;
            }
            .inactive{
                background-color: red;
                border-radius: 10px 10px 0px 0px;
                color: white;
                padding: 5px 0px 5px 10px;
            }
            .projName{
                background-color: var(--main-color);
                color: white;
                padding-left: 10px;
            }
            p{
                padding: 10px;
            }
            img{
                width: 100%;
            }
        }
    }

    #contentContact{
        padding: 20px 0px 20px 0px;
        div{
            border-radius: 10px;
            width: 75vw;
            margin-left: auto;
            margin-right: auto;
            
            form{
                // background-color: green;
                
                input{
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    border-radius: 5px;
                    margin-bottom: 10px;
                    width: 100%;
                }
                textarea{
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    width: 100%;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    height: 50vh;
                }
                button{
                    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    width: 100%;
                    background-color: var(--main-color);
                    color: white;
                    border-radius: 5px;
                    font-size: 1.5em;
                }
            }
        }
    }
    
    
    footer{
        background-color: var(--main-color);
    
    
        .socialImg{
            width: 40px;
            padding: 5px 5px 0px 5px;
        }
        hr{
            margin: 10px 0px 10px 0px;
        }
        .footerNotice{
            color: white;
            padding: 0px 0px 5px 10px;
            margin: 0px;
            a{
                color: white;
                text-decoration: underline;
            }
        }
    }
}